pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.py-source .hll { background-color: #bcc0cc }
.py-source .c { color: #7C7F93 } /* Comment */
.py-source .err { color: #D20F39 } /* Error */
.py-source .k { color: #8839EF } /* Keyword */
.py-source .l { color: #40A02B } /* Literal */
.py-source .o { color: #179299 } /* Operator */
.py-source .p { color: #7C7F93 } /* Punctuation */
.py-source .ch { color: #7C7F93 } /* Comment.Hashbang */
.py-source .cm { color: #7C7F93; font-style: italic } /* Comment.Multiline */
.py-source .cp { color: #DF8E1D } /* Comment.Preproc */
.py-source .cpf { color: #40A02B } /* Comment.PreprocFile */
.py-source .c1 { color: #7C7F93; font-style: italic } /* Comment.Single */
.py-source .cs { color: #7C7F93 } /* Comment.Special */
.py-source .gd { color: #D20F39 } /* Generic.Deleted */
.py-source .ge { color: #D20F39; font-style: italic } /* Generic.Emph */
.py-source .ges { color: #D20F39; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.py-source .gr { color: #D20F39 } /* Generic.Error */
.py-source .gh { color: #D20F39 } /* Generic.Heading */
.py-source .gi { color: #40A02B } /* Generic.Inserted */
.py-source .go { color: #40A02B } /* Generic.Output */
.py-source .gp { color: #179299 } /* Generic.Prompt */
.py-source .gs { color: #D20F39; font-weight: bold } /* Generic.Strong */
.py-source .gt { color: #D20F39 } /* Generic.Traceback */
.py-source .kc { color: #1E66F5 } /* Keyword.Constant */
.py-source .kd { color: #8839EF } /* Keyword.Declaration */
.py-source .kn { color: #8839EF } /* Keyword.Namespace */
.py-source .kp { color: #8839EF } /* Keyword.Pseudo */
.py-source .kr { color: #8839EF } /* Keyword.Reserved */
.py-source .kt { color: #8839EF } /* Keyword.Type */
.py-source .ld { color: #40A02B } /* Literal.Date */
.py-source .m { color: #FE640B } /* Literal.Number */
.py-source .s { color: #40A02B } /* Literal.String */
.py-source .na { color: #DF8E1D } /* Name.Attribute */
.py-source .nb { color: #FE640B; font-style: italic } /* Name.Builtin */
.py-source .nc { color: #DF8E1D } /* Name.Class */
.py-source .no { color: #1E66F5 } /* Name.Constant */
.py-source .nd { color: #04A5E5; font-style: italic } /* Name.Decorator */
.py-source .nf { color: #1E66F5 } /* Name.Function */
.py-source .nt { color: #1E66F5 } /* Name.Tag */
.py-source .nv { color: #4C4F69 } /* Name.Variable */
.py-source .ow { color: #179299 } /* Operator.Word */
.py-source .pm { color: #179299 } /* Punctuation.Marker */
.py-source .w { color: #4C4F69 } /* Text.Whitespace */
.py-source .mb { color: #FE640B } /* Literal.Number.Bin */
.py-source .mf { color: #FE640B } /* Literal.Number.Float */
.py-source .mh { color: #FE640B } /* Literal.Number.Hex */
.py-source .mi { color: #FE640B } /* Literal.Number.Integer */
.py-source .mo { color: #FE640B } /* Literal.Number.Oct */
.py-source .sa { color: #40A02B } /* Literal.String.Affix */
.py-source .sb { color: #40A02B } /* Literal.String.Backtick */
.py-source .sc { color: #40A02B } /* Literal.String.Char */
.py-source .dl { color: #40A02B } /* Literal.String.Delimiter */
.py-source .sd { color: #40A02B } /* Literal.String.Doc */
.py-source .s2 { color: #40A02B } /* Literal.String.Double */
.py-source .se { color: #EA76CB } /* Literal.String.Escape */
.py-source .sh { color: #40A02B } /* Literal.String.Heredoc */
.py-source .si { color: #EA76CB } /* Literal.String.Interpol */
.py-source .sx { color: #179299 } /* Literal.String.Other */
.py-source .sr { color: #179299 } /* Literal.String.Regex */
.py-source .s1 { color: #40A02B } /* Literal.String.Single */
.py-source .ss { color: #40A02B } /* Literal.String.Symbol */
.py-source .bp { color: #FE640B; font-style: italic } /* Name.Builtin.Pseudo */
.py-source .fm { color: #04A5E5 } /* Name.Function.Magic */
.py-source .vc { color: #4C4F69 } /* Name.Variable.Class */
.py-source .vg { color: #4C4F69 } /* Name.Variable.Global */
.py-source .vi { color: #DC8A78 } /* Name.Variable.Instance */
.py-source .vm { color: #4C4F69 } /* Name.Variable.Magic */
.py-source .il { color: #FE640B } /* Literal.Number.Integer.Long */